{% extends "generic.html" %}

{% block main-content %}
<div class="container">
  <h1>Fatture</h1>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Fattura</th>
          <th>Paziente</th>
          <th>Valore</th>
          <th>Pagata</th>
          <th>PDF</th>
        </tr>
      </thead>
      <tbody>
        {% for f in page_obj %}
        <tr>
          <td><a href="{{f.get_absolute_url}}">{{f}}</a></td>
          <td><a href="{{f.paziente.get_absolute_url}}">{{f.paziente}}</a></td>
          <td>{{f.valore}}</td>
          <td>TROLL!</td>
          <td><a class="btn btn-primary btn-sm" href="{% url 'fattura-pdf' f.id %}">Scarica pdf</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fine &raquo;</a>
        {% endif %}
    </span>
</div>



{% endblock main-content %}