{% extends "generic.html" %}

{% block main-content %}
<div class="container-fluid">
<div class="row">
  <div class="col text-center"><h1>Fatture</h1></div>
</div>

<!-- Form per la selezione dell'anno della fattura -->
<div class="row md-12">
  <!--<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3 col-md-3">-->
      <div class="col-xl-2">
        <form action="{% url 'fatture' %}" method="GET">    
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="anno">Anno</label>
            </div>               
                <select class="custom-select" name="anno" id="anno">
                  <option value="0"{% if anno_selezionato == 0 %} selected{% endif %}>Tutti</option>
                  {% if anni %}
                    {% for y in anni %}
                      <option value="{{y}}"{% if anno_selezionato == y %} selected{% endif %}>{{y}}</option>
                    {% endfor %}                    
                  {% endif %}
                </select>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="mese">Mese</label>
                </div> 
                <select class="custom-select" id="mese" name="mese">
                  <option value="0"{% if mese_selezionato == 0 %} selected{% endif %}>Tutti</option>
                  <option value="1"{% if mese_selezionato == 1 %} selected{% endif %}>Gennaio</option>
                  <option value="2"{% if mese_selezionato == 2 %} selected{% endif %}>Febbraio</option>
                  <option value="3"{% if mese_selezionato == 3 %} selected{% endif %}>Marzo</option>
                  <option value="4"{% if mese_selezionato == 4 %} selected{% endif %}>Aprile</option>
                  <option value="5"{% if mese_selezionato == 5 %} selected{% endif %}>Maggio</option>
                  <option value="6"{% if mese_selezionato == 6 %} selected{% endif %}>Giugno</option>
                  <option value="7"{% if mese_selezionato == 7 %} selected{% endif %}>Luglio</option>
                  <option value="8"{% if mese_selezionato == 8 %} selected{% endif %}>Agosto</option>
                  <option value="9"{% if mese_selezionato == 9 %} selected{% endif %}>Settembre</option>
                  <option value="10"{% if mese_selezionato == 10 %} selected{% endif %}>Ottobre</option>
                  <option value="11"{% if mese_selezionato == 11 %} selected{% endif %}>Novembre</option>
                  <option value="12"{% if mese_selezionato == 12 %} selected{% endif %}>Dicembre</option>                
                </select>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="stato-incasso">Incasso</label>
                </div> 
                <select class="custom-select" id="stato-incasso" name="stato-incasso">
                  <option value="tutte"
                  {% if stato_incasso_selezionato == 'tutte'%}
                    selected
                  {% endif %}
                  >Tutte</option>
                  <option value="incassate"
                  {% if stato_incasso_selezionato == 'incassate'%}
                    selected
                  {% endif %}
                  >Incassate</option>
                  <option value="da-incassare"
                  {% if stato_incasso_selezionato == 'da-incassare'%}
                    selected
                  {% endif %}
                  >Da incassare</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="paziente">Paziente</label>
              </div>
                <input type="text" class="form-control" id="paziente" name="paziente"{% if paziente_selezionato %}value="{{paziente_selezionato}}"{% endif %}>
              </div>
              <div class="input-group mb-3">
              <input type="submit" value="Filtra">
            </div>
        </form>
      </div>
    <!--</div>
  </nav>-->


  <div class="table-responsive col-xl-10">
    <table class="table table-striped table-lg">
      <thead>
        <tr>
          <th>Fattura ({{page_obj.paginator.count}})</th>
          <th>Paziente</th>
          <th>Valore</th>
          <th>Pagata</th>
          <th class="text-center">Azioni</th>
        </tr>
      </thead>
      <tbody>
        {% for f in page_obj %}
        <tr>
          <td><a href="{{f.get_absolute_url}}">{{f}}</a></td>
          <td><a href="{{f.paziente.get_absolute_url}}">{{f.paziente}}</a></td>
          <td>{{f.valore}}</td>
          <td>{{f.data_incasso}}</td>
          <td class="text-left"><a class="btn btn-primary btn-sm" href="{% url 'fattura-pdf' f.id%}">Download</a>
          <a class="btn btn-outline-primary btn-sm" href="{% url 'modifica-fattura' f.id %}">Modifica</a>
          {% if not f.data_incasso %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'incassa-oggi' f.id %}">Incassa oggi</a>
          {% endif %}
          {% if f.date_diverse %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'fattura-commercialista' f.id %}">Commercialista</a>
          {% endif %}
          
        </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fine &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
        $(document).ready(function(){ 
            $("#paziente").autocomplete({
                source: "{% url 'search' %}",
                minLength: 2,
              });        });</script>
<script>
  const container = document.querySelector('.container');
  container.classList.remove('container');
  container.classList.add('container-fluid');
</script>

{% endblock main-content %}