{% extends "generic.html" %}
{% block main-content %}
<div class="container">
    <div class="row mb-3">
    <div class="col-md-8"><h2>Fattura {{fattura.numero}}/{{fattura.get_year}}</h2></div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-sm" href="{% url 'fattura-pdf' fattura.id %}">Download</a>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'modifica-fattura' fattura.id %}">Modifica</a>
        {% if not fattura.data_incasso %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'incassa-oggi' fattura.id %}">Incassa oggi</a>
        {% endif %}
        {% if fattura.date_diverse %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'fattura-pdf-commercialista' fattura.id %}">PDF commercialista</a>
        {% endif %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'elimina-fattura' fattura.id %}">Elimina</a>
    </div>
    </div>
    
    <h3><a href="{{fattura.paziente.get_absolute_url}}">{{fattura.paziente}}</a></h3>
    <p>{{fattura.testo}}: {{fattura.valore}}€</p>
    <p>Data: {{fattura.data}}</p>
    {% if fattura.data_incasso %}
        <p>Data incasso: {{fattura.data_incasso}}</p>
    {% else %}
        <p>Fattura ancora da incassare</p>
    {% endif %}
</div>
{% endblock main-content %} 
