{% extends "generic.html" %}
{% block main-content %}
<h2>{{paziente}}</h2>
<p>Modificato il: {{paziente.ultima_modifica}}</p>
<p>Prezzo standard: {{paziente.prezzo}}</p>
<br /><br />
<p><a href="{% url 'privacy-pdf' paziente.pk %}">Privacy</a>
(<a href="{% url 'privacy-m-pdf' paziente.pk %}">minorenne</a>)</p>
<p><a href="{% url 'consenso-pdf' paziente.pk %}">Consenso informato</a>
(<a href="{% url 'consenso-m-pdf' paziente.pk %}">minorenne</a>)</p>
{% if paziente.fattura_set.all %}
<ul>
    {% for f in paziente.fattura_set.all %}
    <hr><li><a href="{{ f.get_absolute_url }}">{{f}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>nessuna fattura intestata al paziente</p>
{% endif %}
{% endblock main-content %}
